element.style {
}
body {
    overflow-y: scroll !important;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --input-border-heavy: #394355;
    --input-border-light: #2F3746;
}
html {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
}
html {
    font: 14px / 1.6 sans-serif;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
    font-weight: 400;
    color: #bdc4d1;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: #232A37;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.style-dark ::-webkit-scrollbar {
    width: .75em;
    height: .75em;
}
.style-dark ::-webkit-scrollbar-track {
    background-color: #394150;
}

